* {
    font-weight: lighter;
    font-size: 12pt;
}

body {
    background-color: #555;
    color: #DDD;
}

a:link {
    color: #BBB
}

a:visited {
    color: #9CC
}

a:hover img {
    opacity: 50%;
}

h1 {
    font-weight: normal;
    font-size: 200%;
}

h1+p {
    font-size: 120%;
}

h2 {
    font-weight: normal;
    font-size: 175%;
}

table>th, td {
    font-size: 14px;
}

table{
    
    min-width: 600px;
    border-collapse: collapse;
    background: rgb(84, 107, 107);
    
}

tr, td{
    border-top: solid 1px #AAA;
    padding: 8px;
}

th {
    background: rgb(58, 72, 75);
}

tr:nth-child(even) {
    background-color: #586d7e;
}

[id*="frostpunk-"] {
    color: #9CC;
}

p.secret {
    visibility: hidden;
}

h2~p {
    font-weight: normal;
}

[id*="overwatch-"] {
    color: rgb(179, 138, 63);
}