* {
    font-weight: lighter;
    font-size: 12pt;
}

body {
    background-color: #555;
    color: #DDD;
}

a:link {
    color: #BBB
}

a:visited {
    color: #9CC
}

a:hover img {
    opacity: 50%;
}

h1 {
    font-weight: normal;
    font-size: 200%;
}

h1+p {
    font-size: 120%;
}

h2 {
    font-weight: normal;
    font-size: 175%;
}

table>th, td {
    font-size: 14px;
}

table, td, th {
    border-top: 1px solid white;
    border-collapse: collapse;
    background: rgb(104, 126, 126);
}

th {
    background: rgb(95, 138, 146);
}

[id*="frostpunk-"] {
    color: #9CC;
}

p.secret {
    visibility: hidden;
}

h2~p {
    font-weight: normal;
}

[id*="overwatch-"]{
    color: rgb(179, 138, 63);
}