* {
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    margin: 0;
}

nav ul {
    list-style-type: none;
    border: 1px solid gray;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    width: 100%;
}

nav li:first-child {
    font-weight: bold;
}

nav li {
    border: 1px solid gray;
    border-collapse: collapse;
    float: left;
    min-width: 150px;
}

nav a:any-link {
    display: block;
    color: white;
    text-decoration: none;
    padding: 14px 16px;
}

nav a:hover:not(.active) {
    background-color: #555;
}

nav {
    position: sticky;
    top: 0;
    padding: 0;
    margin: 0;
    z-index: 99;
}

@media only screen and (max-width: 600px){
    nav{
        position: initial;
    }
}

div.container {
    padding: 0 16px;
}

a.active {
    background-color: #888;
}

h1.banner {
    padding: 0 16px;
}

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

[class*="col-"] {
    float: left;
    padding: 15px;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

fieldset{
    border-radius: 16px;
}
fieldset.nonessential{
    /* border-style: dotted; */
    border-image: url(res/swoleborder.jpg) 15% round;    
}

#radial{
    background-image: radial-gradient(lightblue,red, green);
}

.footer{
    background: gray;
    margin: 22px;
}


.drop{

}

.dropcontent{
    display: none;
    position: absolute;
    z-index: 1;
    background-color: #333;
}

.drop:hover .dropcontent{
    display:block;
}