body {
	background-image: url("background.jpg");
	background-color: #e2e2e2;
  	background-repeat: no-repeat;
  	background-size: cover;
  	background-position: center;
}
h1,
h2,
h3,
p {
	color: white;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
p {
	font-size: 20px;
}
h1 {
	font-size: 70px;
}
h2 {
	font-size: 40px;
}
h3 {
	font-size: 30px;
}


table{
	background-color: black;
}
table,
th,
td {
	border: 1px solid black;
}

th,
td {
	padding: 5px;
	text-align: center;
}
td {
	font-family: "Times New Roman";
}
a:link{
	color: blue;
	text-decoration: underline;
}
a:visited{
	color: red;
	text-decoration: none;
}
a:active{
	color: yellow;
	text-decoration: underline;
}
a:hover{
	color: white;
	text-decoration: underline;
}

#AvailabilityTable td:nth-child(even){
	background-color: #e3feff;
}
#AvailabilityTable td:nth-child(odd){
	background-color: #c2c2c2;
}
#AvailabilityTable td:first-child{
	background-color: #537ced;
	font-weight: 700;
}
#Bosses {
	background-color: #B9B9B9;
}
#Players {
	background-color: #B9B9B9;
}
#Wings {
	background-color: #8A8A8A;
}
#Corner {
	background-color: #000000;
}
#TableHeaders {
	background-color: #60d4e6;
}
.lists {
	width: 500px;
	background-color: white;
	border: 5px solid black;
	padding: 5px;
}